@import 'src/styles/mixins.scss';

.tab_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 50px 50px;
  > div {
    width: 100%;
  }
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  flex-wrap: wrap;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #efe6d3;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.tab:hover {
  background-color: #b4d23d;
}

.activeTab {
  background-color: #94b21b;
  color: white;
  :hover {
    background-color: #b4d23d;
  }
}

.content {
  @include customer-info-block;
}

.content.hidden {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.content.visible {
  opacity: 1;
  position: relative;
}

.addresses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    @include customer-info-block;
    width: 45%;
  }
}

.verifyButton {
  align-self: self-start;
  margin: 15px 0;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--register-button);
}

.updteButton {
  align-self: self-start;
  margin: 15px 0;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--hover-text-color);
}

.addressRow {
  display: flex;
  flex-direction: row;
}

.newaddress_card {
  display: flex;
  flex-direction: column;
}

.address_list {
}

.address_row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  > div > span {
    font-weight: 600;
  }
}

.editdelete_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
  .address_checkboxes {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.buttons_editaddress {
  display: flex;
  flex-direction: row;
  gap: 20px;}

.addresses_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.addresses {
  flex-direction: column;
  padding: 10px 0px;
  margin-right: 20px;
  > div {
    width: 100%;
  }
}

@media (width < 650px) {
  .tab_container {
    margin: 10px 10px;
  }

  .tabs {
    border-bottom: none;
  }
}
