@import 'src/styles/variables';
@import 'src/styles/mixins';

.layout {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
}

.test {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 15px;
  @include media-600 {
    margin: 0 5px 0 5px;
  }
}

.dots {
  height: 5px;
}
