.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  margin: 0 30px;
}

.photo {
  > img {
    width: 300px;
    height: 400px;
  }
}

.bio {
  width: 280px;
  height: 100px;
}

.constacts {
  > ul > li > a {
    color: var(--register-button);
  }
}
.constacts > ul > li > a:hover {
  color: var(--hover-text-color);
  cursor: pointer;
}

.contribution {
}
