@import 'src/styles/variables';
@import 'src/styles/mixins';

.cartContainer {
  padding: 20px;
  background-color: var(--background-color);
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  flex-grow: 1;

  @include media-600 {
    flex-direction: column;
  }
}

.right_column {
  width: 30vw;
}

.cartTable {
  width: 100%;
  border-collapse: separate;
  margin-bottom: 20px;
  border-spacing: 0 10px;

  th,
  td {
    padding: 10px;
    padding-bottom: 10px;
  }

  th {
    background-color: wheat;
    font-size: 2rem;
    border-collapse: collapse;
    word-break: break-all;
    @include media-500 {
      font-size: 1rem;
    }
  }

  tbody > tr {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .productImage {
    width: 50px;
    height: auto;
    border-radius: 5px;
  }

  input {
    max-width: 50px;
    padding: 4px;
    text-align: center;
  }

  .deleteButton {
    background-color: #f5861f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    @include media-500 {
      font-size: 1rem;
    }
  }

  .deleteButton:hover,
  .clearCartButton:hover {
    background-color: #f0ac00;
  }
}

.totalPrice {
  text-align: right;
  font-size: 1.2em;
  margin-top: 20px;
}

h1 {
  font-size: 3rem;
}

.clearCartButton,
.applyPromoButton {
  background-color: #f5861f;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 4px;
  margin: 10px 0;
  width: 20vw;

  @include media-850 {
    font-size: 1.3rem;
  }
  @include media-500 {
    font-size: 1rem;
  }
}

.applyPromoButton {
  background-color: #f0ac00;
}

.promoCodeInput {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  width: 20vw;
}

.promoCodeInput:focus {
  opacity: 1;
}


@media (width <= 450px) {
  button {
    font-size: 1.5rem;
  }
}
