@mixin form($opacity) {
  display: flex;
  flex-direction: column;
  width: 474px;
  background-color: rgba(255, 255, 255, $opacity);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

@mixin media-1200 {
  @media (max-width: $screen-width-1200) {
    @content;
  }
}

@mixin media-1000 {
  @media (max-width: $screen-width-1000) {
    @content;
  }
}

@mixin media-800 {
  @media (max-width: $screen-width-800) {
    @content;
  }
}

@mixin media-600 {
  @media (max-width: $screen-width-600) {
    @content;
  }
}

@mixin media-500 {
  @media (max-width: $screen-width-500) {
    @content;
  }
}

@mixin media-400 {
  @media (max-width: $screen-width-400) {
    @content;
  }
}
