//color
$secondaryTextColor: #000000;
$primaryBackgroundButton: #94b21b;
$primaryBackgroundButtonHover: #b4d23d;
$primaryBackgroundButtonActive: #80ee59;
$secondaryActiveLink: #f8119f;

// container width
$maxWidthDesktop: 1170px;

//screen width
$screen-width-1000: 1000px;
$screen-width-800: 800px;
$screen-width-600: 600px;
$screen-width-500: 500px;
