//color
$secondaryTextColor: #000000;
$primaryBackgroundButton: #94b21b;
$primaryBackgroundButtonHover: #b4d23d;
$primaryBackgroundButtonActive: #80ee59;
$secondaryBackgroundButton: #d6b258;
$secondaryBackgroundButtonHover: #f0ac00;
$secondaryBackgroundButtonActive: #f0ca00;
$secondaryActiveLink: #f8119f;
$priceSale: #be0a1f;

// container width
$maxWidthDesktop: 1170px;

//screen width
$screen-width-1200: 1200px;
$screen-width-1000: 1000px;
$screen-width-800: 800px;
$screen-width-850: 850px;
$screen-width-600: 600px;
$screen-width-500: 500px;
$screen-width-400: 400px;
