//color
$secondaryTextColor: #000000;
$primaryBackgroundButton: #94b21b;
$primaryBackgroundButtonHover: #b4d23d;
$primaryBackgroundButtonActive: #80ee59;
$secondaryActiveLink: #f8119f;

// container width
$maxWidthDesktop: 1170px;
