@import 'src/styles/variables';
.layout {
  width: inherit;
  background-image: url('../../public/main_image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-position: center;
  width: 100%;
  height: 30vh;
}
