@import 'src/styles/variables';
@import 'src/styles/mixins';

.container,
.main_image {
  margin: 0 auto;
}

.container {
  width: 90%;
  height: 100vh;
}

.product {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10% 0 10% 0;
  @include media-1000 {
    flex-direction: column;
  }
}

.container_images,
.main_image,
.info {
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: 40vh;
  object-fit: contain;
  transition: transform 0.5s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.images_container {
  display: flex;
  width: 60%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.images {
  display: block;
  width: 10%;
  background-color: #ffffff;
  height: 25vh;
  object-fit: cover;
}

.name_thing,
.description {
  color: $secondaryTextColor;
}

.name_thing {
  margin-top: 0px;
  font-size: 2.4rem;
  @include media-1000 {
    text-align: center;
  }
}

.description {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.container_images {
  @include media-1200 {
    width: 65%;
  }
  @include media-1000 {
    width: 80%;
    margin: 0 auto;
  }
  @include media-600 {
    width: 90%;
  }

  @include media-400 {
    width: 100%;
  }
}

.info {
  @include media-1200 {
    width: 45%;
  }
  @include media-1000 {
    width: 100%;
    margin-top: 30px;
  }
}

.price {
  font-size: 2rem;
  color: $secondaryTextColor;
  margin-bottom: 0px;
}
.prices {
  display: flex;
  gap: 10%;
}

.price_start,
.price_finish {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10px;
}
.price_start {
  color: $secondaryTextColor;
}
.price_sale {
  text-decoration: line-through;
}
.price_finish {
  color: $priceSale;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(64, 63, 61, 0.9);
}

.modal_image {
  display: block;
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  object-fit: contain;
  @include media-800 {
    width: 90%;
  }
  @include media-600 {
    width: 100%;
  }
}

.images_container2 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 60%;
  @include media-1200 {
    width: 60%;
  }
  @include media-800 {
    width: 70%;
  }
  @include media-600 {
    width: 100%;
  }
}

.images2 {
  display: block;
  width: 90%;
  height: 90vh;
  object-fit: cover;
}

.images_container2 > ul > li > button::before {
  color: #ffffff;
}
.button__remove,
.button__add {
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 5px 10px;
  color: $secondaryTextColor;
  &:hover {
    cursor: pointer;
  }
}

.button__add {
  background-color: $primaryBackgroundButton;
  &:hover {
    background-color: $primaryBackgroundButtonHover;
  }
  &:active {
    background-color: $primaryBackgroundButtonActive;
  }
  &:disabled {
    cursor: auto;
    background-color: gray;
  }
}

.button__remove {
  background-color: $secondaryBackgroundButton;
  &:hover {
    background-color: $secondaryBackgroundButtonHover;
  }
  &:active {
    background-color: $secondaryBackgroundButtonActive;
  }
  &:disabled {
    cursor: auto;
    background-color: gray;
  }
}

.button__add.disabled,
.button__remove.disabled {
  cursor: auto;
  background-color: gray;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  @include media-800 {
    width: 40%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-600 {
    width: 55%;
  }
  @include media-400 {
    width: 70%;
  }
}

.message__remove {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 10px;
  color: $secondaryTextColor;
  background-color: $primaryBackgroundButton;
}
