@import 'src/styles/variables';
@import 'src/styles/mixins';

.header,
.navigation {
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: rgba(255, 255, 255);
  position: sticky;
  top: 0;
  width: 100%;

  &.hidden {
    display: none;
  }
}

.container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;

  @include media-800 {
    flex-direction: column;
  }
}

.navigation {
  width: 35%;
  align-items: end;

  @include media-1200 {
    width: 42%;
  }

  @include media-1000 {
    width: 52%;
  }

  @include media-800 {
    width: 69%;
  }

  @include media-600 {
    width: 83%;
  }

  @include media-500 {
    width: 100%;
  }
}

.login_container {
  display: flex;
  &.hidden {
    display: none;
  }
}

.logout_container {
  display: flex;
}

.logo,
.logout,
.link {
  color: $secondaryTextColor;
  &:hover {
    cursor: pointer;
    transition-duration: 1s;
  }
}

.logo {
  font-size: 3.2rem;
  &.inactive:hover {
    cursor: auto;
    color: $secondaryTextColor;
  }
  @include media-800 {
    margin-left: 5px;
  }
}

.logout {
  &:hover {
    color: var(--hover-text-color);
    cursor: pointer;
  }
}

.link,
.logout {
  display: flex;
  height: 100%;
  font-size: 1.6rem;
  align-items: flex-end;
  padding: 5px 10px 0 10px;
}

.link.active,
.logout.active {
  color: $secondaryActiveLink;
  text-decoration: underline;
  transition-duration: 1s;

  &:hover {
    color: $secondaryActiveLink;
    cursor: auto;
  }
}
