.custom_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    outline: none;
    margin: 0 10px 0 0;
  }
  label {
    height: 20px;
  }
}

.custom_checkbox input[type='checkbox']::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
}

/* Custom styles for the checkbox when checked */
.custom_checkbox input[type='checkbox']:checked::before {
  background-color: var(--background-color);
  border-color: var(--primary-text-color);
  outline: none;
  content: '\2713';
}
