.parent {
  width: 100%;
  height: 95%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.children {
  background-color: rgba(236, 15, 15, 0.815);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  padding: 20px;
}
