@import 'src/styles/normalize';
@import 'src/styles/variables';

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(src/public/OpenSans-Regular.ttf) format('truetype');
}

html {
  font-size: 10px;
}

:root {
  --background-color: #efe6d3;
  --primary-text-color: #000000;
  --hover-text-color: #f5861f;
  --font-family: 'Open Sans', sans-serif;
  --font-weight: 400;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}
a:hover {
  color: var(--hover-text-color);
}
