@import 'src/styles/normalize';
@import 'src/styles/variables';

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(src/public/OpenSans-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  background-color: var(--background-color);
  color: var(--primary-text-color);

  --background-color: #efe6d3;
  --primary-text-color: hsla(0, 63%, 3%, 0.564);
  --error-text: rgba(233, 49, 49, 0.769);
  --register-button: #2db942;
  --hover-text-color: #f5861f;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-text-color);
}

input,
select,
button {
  max-width: 400px;
  border-radius: 5px;
  height: 40px;
  border: none;
  outline: 1px solid var(--primary-text-color);
  font-size: 2rem;
}

h2 {
  font-size: 1.9em;
}
