@import 'src/styles/normalize';
@import 'src/styles/variables';

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(src/public/OpenSans-Regular.ttf) format('truetype');
}

html {
  font-size: 10px;
}

body {
  background-color: $backgroundColor;
  color: $primaryTextColor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#root {
  max-width: $maxWidthDesktop;
  margin: 0 auto;
}
