.promopictures,
.main_image_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: fit-content;
  margin: 0 0 30px 0;
}

.food_background,
.pic_background {
  width: 50%;
  height: auto;
}

.main_image {
  width: 100%;
}

@media (width <=800px) {
  .promopictures {
    flex-direction: column;
    > img {
      width: 100%;
    }
  }
}
